// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #e6e6e6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #0d1f21;

@cyan: #8abeb7;
@blue: #81a2be;
@light-blue: #a3c0d9;
@purple: #b294bb;
@light-purple: #E2B3F1;
@green: #b5bd68;
@light-green: #96D49B;
@red: #E07C7C;
@orange: #de935f;
@dark-orange: #b87140;
@light-orange: #E8A373;
@light-yellow: #E0D78D;
@white: #ffffff;
@black: #141414;

@color-html-tagname: #87BED0;
@color-html-attrname: #928ECA;
@color-html-quotedstring: #8ECA76;
@color-php-accent: #E381FF;

@color-css-property-name: #EA9A9A;
@color-css-value: #84D1D2;


@m-blue: #85C7F9;
@m-green: #B5F1AB;
@m-orange: #F19A5A;
@m-purple: #9173CC;
@s-purple: #A28AD0;
@m-red: #F76060;
@m-pink: #FF58BB;
@m-teal: #68C7D5;
@s-white: #BDBDBD;
@s-amber: #D69023;
