.css,
.scss,
.less {
  &.entity {
    &.name,
    &.attribute-name,
    &.class, {
      color: @m-blue;
    }
  }

  &.string.quoted {
    color: @m-teal;
  }

  &.punctuation {
    color: inherit;
  }

  &.property-name {
    color: @m-green;
  }

  &.meta {
    &.selector,
    &.attribute-selector {
      color: @m-blue;
    }
  }

  &.constant {
    color: @s-purple;
  }

  &.keyword {
    color: @m-red;

    &.other {
      &.unit {
        color: @s-purple;
      }
    }
  }

  &.support {
    .property-value {
      color: @s-purple;
    }
  }
}

.scss,
.less {
  &.entity {
    &.name.tag.reference {
      color: @m-orange;
    }
  }

  &.support {
    &.function {
      color: @m-orange;
    }
  }
}
