.source.jade {
  .entity {
    &.tag.name {
      color: @jade-tag-name;
    }

    &.attribute-name {
      &.id {
        color: @jade-main-color;
      }

      &.tag {
        color: @jade-attr-name;
      }
    }

    // &; (ex. &nbsp;)
    &.punctuation.definition.html {
      color: @white;
    }
  }

  .constant {
    color: @jade-main-color;

    &.name.attribute.tag {
      color: @white;
    }

    // nbsp (ex. &nbsp;)
    &.character.entity.html {
      color: @jade-sub-white;
    }
  }

  .string.quoted {
    color: @jade-string;
  }

  .storage {
    color: @jade-storage;
  }

  .variable {
    color: @jade-variable;
  }

  .text {
    color: @white;
  }
}
