// color style for extend class.
// below class is only used in this file.
// so, if want to change class name, replace in this file.
.js-main-color {
  color: @orange-300;
}
.js-ctrl-keyword {
  color: @green-a200;
}
.js-ctrl-type {
  color: @blue-a100;
}



.js {
  &.entity {
    &.name.function {
      &:extend(.js-main-color);
    }

    &.object {
      &:extend(.js-main-color);
    }
  }

  &.string.quoted {
    color: @js-string;
  }

  &.punctuation {

  }

  &.meta {

  }

  &.constant {
    &.numeric {
      color: @js-const;
    }
  }

  &.keyword {
    &.operator {
      &.new {
        &:extend(.js-ctrl-keyword);
      }
    }

    &.control {
      &:extend(.js-ctrl-keyword);
    }
  }

  &.support {
    &.class,
    &.constant {
      &:extend(.js-main-color);
    }

    &.dom {
      &:extend(.js-main-color);
    }

    &.function {
      &:extend(.js-main-color);
    }
  }

  &.variable {
    &.object {
      &:extend(.js-main-color);
    }

    &.property {
      &:extend(.js-main-color);
    }

    &.parameter {
      color: @js-param;
    }

    &.language {
      &:extend(.js-main-color);
    }
  }

  &.storage {
    &.type {
      &:extend(.js-ctrl-type);
    }

    &.modifier {
      &:extend(.js-ctrl-type);
    }
  }
}
