.js {
  &.entity {
    &.name.function {
      color: @js-method;
    }

    &.object {
      color: @js-object;
    }
  }

  &.string.quoted {
    color: @js-string;
  }

  &.punctuation {

  }

  &.meta {

  }

  &.constant {

  }

  &.keyword {
    &.operator {
      &.new {
        color: @js-ctrl-keyword;
      }
    }

    &.control {
      color: @js-ctrl-keyword;
    }
  }

  &.support {
    &.class {
      color: @js-object;
    }

    &.dom {
      color: @js-prop;
    }

    &.function {
      color: @js-method;
    }
  }

  &.variable {
    &.object {
      color: @js-object;
    }

    &.property {
      color: @js-prop;
    }

    &.parameter {
      color: @js-param;
    }
  }

  &.storage {
    &.type {
      color: @js-ctrl-type;
    }

    &.modifier {
      color: @js-ctrl-type;
    }
  }
}
